


.btn-header{
  background-color: #fefefe;
  border: 2px solid #4F739E;
  color:#4F739E;
}

.btn-header:hover{
  background-color: #4F739E;
  border: 2px solid #fefefe;
  color:#fefefe;
}

.card {
      box-shadow: 0 4px 8px 0 rgba(203, 215, 227, 0.2), 0 6px 20px 0 rgba(203, 215, 227, 0.19);
}

.btn-card{
  background-color: #fefefe;
  border: 2px solid #4F739E;
  color:#4F739E;
}

.btn-card:hover{
  background-color: #4F739E;
  border: 2px solid #fefefe;
  color:#fefefe;
}

.card-footer{
  background-color: #fefefe;
}
