
<div class="container-fluid" style="background-color:white;border-bottom: 1px solid rgb(219, 219, 219)">
  <div class="row" style="padding-top:50px;padding-bottom:50px;padding-left:100px;padding-right:100px;">
    <div class="col-sm-6 align-self-center order-2 order-sm-1" style="">
      <h1 style="font-size:34px;">Create fun stories and share them!</h1>
      <h4 class="mt-3" style="font-size:24px;font-weight:normal;">This is a subtitle for the header.</h4>
      <button [routerLink]="['/story']" type="button" class="btn btn-outline-primary mt-3 btn-header">Create a Story</button>
      <!-- <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->
      <!-- <app-new-story></app-new-story> -->
    </div>
    <div class="col-sm-6 order-1 order-sm-2 text-right align-self-center">
      <img src="../../assets/monkey-header.jpg" class="img-fluid rounded" width="300" alt="">
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card-columns">
        <div *ngFor="let s of stories" class="card border-0">
          <!-- <img class="card-img" src="../../assets/userPics/Monkey1.jpg" alt="Card image"> -->
          <div style="background-color:#FEFEFE" class="card-body rounded">
            <h4 style="color:#4F739E" class="card-title">{{s.storyTitle}}</h4>
            <p style="color:#4F739E" class="card-text">{{s.storyPieces[0]?.storyPieceText}}</p>
            <button type="button" class="btn btn-card">Continue Reading</button>
          </div>
          <div class="card-footer text-muted">
            Authors: <strong style="color:#58D8D2;">Cuddles</strong>, Kitty, Mikey
          </div>
        </div>
      </div>

      <div class="list-group">
        <a *ngFor="let s of stories" [routerLink]="['/story',s._id]" class="list-group-item">
          {{s.storyTitle}}
        </a>
      </div>
    </div>
  </div>
</div>
