 @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

p, h4, h1{
  font-family: 'Roboto Slab', serif;
}

.btn-header{
  background-color: #fefefe;
  border: 2px solid #4F739E;
  color:#4F739E;
}

.btn-header:hover{
  background-color: #4F739E;
  border: 2px solid #fefefe;
  color:#fefefe;
}

.card {
      box-shadow: 0 4px 8px 0 rgba(203, 215, 227, 0.2), 0 6px 20px 0 rgba(203, 215, 227, 0.19);
}

.btn-card{
  background-color: #fefefe;
  border: 2px solid #4F739E;
  color:#4F739E;
}

.btn-card:hover{
  background-color: #4F739E;
  border: 2px solid #fefefe;
  color:#fefefe;
}

.card-footer{
  background-color: #fefefe;
}

.img-user {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.author-text{
  font-size: 12px;
  color:#9C9DA2;
  margin: 0 0 0 0;
}

.card-link{
  color:black;
}

.card-link:hover{
  color:black;
  text-decoration: underline;
}
