<div class="container mt-3">
  <div class="row justify-content-sm-center">
    <div class="col-6">
      <h1>Create a new story</h1>
      <hr>
      <p>Do you like writing exciting stories? Now's your opportunity to shine. <br/><br/>
        Create a story with a captivating title, add the first paragraph and let the community do it's thing. <br/><br/>
      If people like the premise of the story you've written, soon enough there will be multiple branches added to your story. </p>
    </div>
  </div>
</div>




<div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button (click)="close()" type="button" class="btn btn-primary">Close With Delay</button>
    </div>
  </div>
</div>
